# Created by .ignore support plugin (hsz.mobi)
.idea/Spider-learning.iml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Spider-learning.iml
encodings.xml
inspectionProfiles/
misc.xml
modules.xml
vcs.xml
workspace.xml
